@import "../styles/header.css";
@import "../styles/main.css";
@import "../styles/about.css";

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}