header {
  height: 90px;
  width: 1280px;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 30px 0 0 40px;
}

.header-logo a {
  text-decoration: none;
}

.header-logo h1 {
  font-family: 'Georgia';
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header-logo span {
  margin: 9px 0 0 4px;
  font-family: 'Arial';
  font-size: 13px;
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header-nav {
  margin: 46px 40px 0 0;
  width: 443px;
  display: flex;
  justify-content: space-between;
}

.header-nav a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none #F1CDB3;
  color: #CDCDCD;
  transition: 0.3s;
}

.header-nav a:hover {
  color: #FAFAFA;
}

.header-nav a:active {
  text-decoration: underline #F1CDB3;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.header-nav .active-page {
  color: #FAFAFA;
  text-decoration: underline #F1CDB3;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

#burger-menu-toggler {
  visibility: hidden;
}

@media (max-width: 1279px) {

  header {
    width: 100%;
  }

  .header-logo {
    margin: 30px 0 0 30px;
  }

  .header-nav {
    margin: 46px 31px 0 0;
    width: 442px;
  }

}

@media (max-width: 767px) {

  header {
    align-self: baseline;
  }

  .header-logo {
    margin: 30px 0 0 20px;
  }

  .header-nav {
    display: none;
  }

  .burger-menu {
    display: block;
    margin: 42px 20px 0 0;
    width: 30px;
  }

  .burger-menu-button {
    display: flex;
    align-items: center;
    position: absolute;
    width: 30px;
    z-index: 1;
  }

  .burger-menu-button > span,
  .burger-menu-button > span::before,
  .burger-menu-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }

  .burger-menu-button > span::before {
    content: '';
    top: -10px;
  }

  .burger-menu-button > span::after {
    content: '';
    top: 10px;
  }
}