.main {
  width: 100%;
  height: 1342px;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title h3 {
  margin: 80px 0 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 132%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.main-cards {
  margin: 58px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-cards-card {
  margin: 0 0 30px 0;
  width: 270px;
  height: 435px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  transition: .3s;
}

.main-cards-card:hover {
  background: #FFFFFF;
}

.main-cards-card:hover button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.main-cards-card span {
  margin: 30px 0 30px 0;
}

.main-cards-card button {
  cursor: pointer;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #FAFAFA;
}

.main-buttons {
  margin: 30px 0 0 0;
  width: 340px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.main-buttons button {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border: none;
  background: #F6F6F6;
}

.main-buttons button:hover {
  border: none;
  border-radius: 100px;
}

.main-buttons .main-buttons-current {
  padding: 0 0 2px 1px;
  border-radius: 100px;
  background: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: default;
}

.disabled:hover {
  background: none;
  cursor: default;
}

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-modal {
  margin: 0 0 0 42px;
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
}

.popup-modal-img {
  width: 500px;
  height: 500px;
  letter-spacing: 0.06em;
}

.popup-modal-content {
  margin: 0 0 0 30px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-modal-content-title {
  margin: 51px 0 0 0;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.popup-modal-content-subtitle {
  margin: 9px 0 0 0;
  font-size: 20px;
  line-height: 115%;
  color: #000000;
  letter-spacing: 0.06em;
}

.popup-modal-content-description {
  width: 350px;
  margin: 41px 0 0 0;
  font-size: 15px;
  line-height: 113%;
  letter-spacing: 0.06em;
}

.popup-modal-content-list {
  padding: 40px 0 0 14px;
  list-style-type: none;
}

.popup-modal-content-list::marker {
  color: #F1CDB3;
}

.popup-modal-content-list-item::before {
  content: "\2022";
  color: #F1CDB3;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.popup-modal-content-list-item {
  margin: 0 0 10px 0;
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #000000;
}

.popup-modal-content-list-item span {
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.popup-button {
  padding-top: 3px;
  margin: -551px 0 0 -10px;
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #F1CDB3;
  border-radius: 50px;
}

@media (max-width: 1279px) {

  .main {
    height: 1733px;
  }

  .main-wrapper {
    width: 768px;
  }

  .main-cards {
    width: 666px;
    margin: 28px 0 0 0;
    justify-content: center;
  }

  .main-cards-card {
    margin: 0 20px 30px;
  }

  .main-cards-card:nth-child(n+7) {
    display: none;
  }

  .main-buttons {
    margin: 10px 0 0 0;
  }

  .popup-modal {
    margin: 0 0 0 43px;
    width: 630px;
    height: 350px;
  }

  .popup-modal-img {
    width: 350px;
    height: 350px;
  }

  .popup-modal-content {
    margin: 0 0 0 11px;
  }

  .popup-modal-content-title {
    margin: 11px 0 0 0;
  }

  .popup-modal-content-description {
    margin: 21px 0 0 0;
    font-size: 13px;
    width: 261px;
    line-height: 110%;
  }

  .popup-modal-content-list {
    padding: 17px 0 0 14px;
  }

  .popup-modal-content-list-item {
    margin: 0 0 5px 0;
  }

  .popup-button {
    margin: -401px 0 0 -9px;
  }

}

@media (max-width: 767.98px) {

  .main {
    height: 1649px;
  }

  .main-title h3 {
    margin: 41px 0 0 0;
    font-size: 25px;
  }

  .main-cards {
    width: 320px;
    margin: 41px 0 0 0;
  }

  .main-cards-card:nth-child(n+4) {
    display: none;
  }

  .main-buttons {
    margin: 12px 0 0 0;
    width: 300px;
  }

  .popup-modal {
    margin: 0 0 0 30px;
    width: 240px;
    height: 341px;
  }

  .popup-modal-content-title {
    margin: 11px 0 0 38px;
  }

  .popup-modal-content-subtitle {
    margin: 8px 0 0 34px;
  }

  .popup-modal-img {
    display: none;
  }

  .popup-modal-content-description {
    margin: 21px 0 0 0;
    width: 220px;
    text-align: justify;
    max-height: 113px;
  }

  .popup-modal-content-list {
    padding: 21px 0 0 14px;
  }

  .popup-modal-content-list-item {
    margin: 0 0 6px 0;
  }
  .popup-button {
    margin: -393px 0 0 -22px;
  }

}
